body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.main-section {
    height: 500px;
    background: linear-gradient(to bottom, #ffcccb, #ffb6c1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-create p {
    font-family: 'Ugothic', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.circle-button {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-create-box {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-create-box label {
    display: block;
    margin-bottom: 10px;
}

.event-create-box input,
.event-create-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-create-box button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-create-box button:hover {
    background-color: #45a049;
}
